.slider {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 5%;
    flex-direction: column;

    position: relative;
    padding: 0;
}

.slider h1 {
    max-width: 600px;
    padding-bottom: 3%;
}

.slider-container {
    height: 500px;
    width: 46%;
    position: relative;
}

.slide {
    padding: 0;
    border: 0;
    opacity: 0;

    height: 500px;
    width: 600px;

    position: absolute;
    top: calc(40% - 200px);
    left: calc(50% - 300px);
    z-index: 2;

    transform: scale(0.92);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    cursor: default;
}

.active {
    transition: 1s ease;
    opacity: 1 !important;
    z-index: 3 !important;
    transform: scale(1);
}

.active:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition: 0.4s ease;
}

.active:hover .slide-desc{
    opacity: 1;
}

.slide-desc {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100% - 100px);
    width: 100%;
    z-index: 3;

    background-color: rgb(202, 175, 107);
    opacity: 0;
    transition: 0.4s ease;
}

.slide-desc p {
    font-size: 24px;
    width: 70%;
    text-align: center;
    color: black;
}

.slide-img {
    object-fit: cover;
    width: 600px;
    height: 400px;
    transition: 0.5s ease;
}

.details {
    position: absolute;
    height: 100px;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 30px;
}

.slide h2 {
    width: 100%;
}

.slide h3 {
    width: 100%;
    color: grey;
    font-weight: 500;
}

.left-control {
    position: absolute;
    z-index: 4;
    top: calc(40% - 12px);
    left: 10px;
}

.right-control {
    position: absolute;
    z-index: 4;
    top: calc(40% - 12px);
    right: 10px;
}

.slider-control {
    cursor: pointer;
    transition: 0.3s ease;
}

.slider-control:hover {
    filter: drop-shadow(9px 9px 5px rgba(0, 0, 0, 0.5));
    transform: scale(1.1);
}

.slider-control:active {
    filter: invert(40%) drop-shadow(6px 6px 3px rgba(0, 0, 0, 0.5));
    transform: scale(1.05);
}

.indicator-container {
    display: flex;
    column-gap: 5px;
    cursor: pointer;
}

.indicator {
    transition: 0.2s ease;
}

.indicator:hover {
    transform: scale(1.2);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.indicator:active {
    transform: scale(1.1);
    filter: invert(40%) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}