* {
    margin: 0;
    padding: 0;
    border:0;
    font-family: 'Anek Malayalam', sans-serif;
}

.to-be-deleted {
    height: 100vh;
    background-color: rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-be-deleted span {
    color: rgb(179, 128, 0);
}